<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>417621184154-qqmab15pg995iplits2p5m2665fss72u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417621184154-qqmab15pg995iplits2p5m2665fss72u</string>
	<key>API_KEY</key>
	<string>AIzaSyAWmQv4JdK6BWjJVVnZs1MZ5Cs5qnwArpc</string>
	<key>GCM_SENDER_ID</key>
	<string>417621184154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.devant.WSB</string>
	<key>PROJECT_ID</key>
	<string>wsbapka-b8edb</string>
	<key>STORAGE_BUCKET</key>
	<string>wsbapka-b8edb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417621184154:ios:dae61211d0000bc4</string>
	<key>DATABASE_URL</key>
	<string>https://wsbapka-b8edb.firebaseio.com</string>
</dict>
</plist>